# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-workspace': [
    {
      'label': 'Copy current yaml path to clipboard'
      'command': 'yaml-path-copy:copyPath'
    }
    {
      'label': 'Display current yaml path'
      'command': 'yaml-path-copy:displayPath'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Yaml Path Copy'
      'submenu': [
        {
          'label': 'Copy current yaml path to clipboard'
          'command': 'yaml-path-copy:copyPath'
        }
        {
          'label': 'Display current yaml path'
          'command': 'yaml-path-copy:displayPath'
        }
      ]
    ]
  }
]
